.page-block {
  display: flex;
  flex-direction: row;
  height: 28.5rem;
  width: 60rem;
  margin: 0 auto;
  margin-top: 60px;
  background-color: rgb(51, 51, 51);
}
#imageColumn img {
  height: 28.5rem;
  width: 21.125rem;
}
#informationColumn p {
  font-size: 22px;
  margin-top: 8px;
  margin-left: 8px;
}

